# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main

# Scripts used in development
package_installer_app.sh

# External documentation
readthedocs/

# Program build, test and activity artifacts
.codacy
distrib/
build/
test/
test2/

# macOS artifacts
.DS_Store

# Debugging artifacts
core*

# End of https://www.toptal.com/developers/gitignore/api/c++


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
